/*//////////////////////////////////////////////////////////////////////////////
//  BOURBON NEAT
//////////////////////////////////////////////////////////////////////////////*/

@import "vendor/neat/neat-helpers";

// Bourbon Neat Visual Grid
$visual-grid: false; // Display the base grid
$visual-grid-color: yellow;
$visual-grid-index: back; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: 0.2;

// Bourbon Neat Grid
$column: golden-ratio(1em, 3); // Column width
$gutter: golden-ratio(1em, 1); // Gutter between each two columns
$grid-columns: 12; // Total number of columns in the grid
$max-width: em(1024); // Max-width of the outer container
$border-box-sizing: true; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR;

// Bourbon Neat Breakpoints
$largest: new-breakpoint(max-width $breakpoint-largest 12);
$large: new-breakpoint(max-width $breakpoint-large 12);
$medium: new-breakpoint(max-width $breakpoint-medium 12);
$smallish: new-breakpoint(max-width $breakpoint-smallish 12);
$small: new-breakpoint(max-width $breakpoint-small 12);
$tiny: new-breakpoint(max-width $breakpoint-tiny 12);

// Bourbon Neat Flex-grid
$fg-column: $column;             // Column Width
$fg-gutter: $gutter;             // Gutter Width
$fg-max-columns: $grid-columns;  // Total Columns For Main Container
