/*//////////////////////////////////////////////////////////////////////////////
//  Mixins
//////////////////////////////////////////////////////////////////////////////*/

@mixin hide-text {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
} // hide-text

@mixin clear-list {
	margin: 0;
	padding: 0;
	list-style: none;
} // clear-list

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	@include has-layout;
} // clearfix

@mixin button($button-color) {
	text-decoration: none;
	background-color: $button-color;
	border: none;
    cursor: pointer;
	@include border-radius(10px);
	@include transition(all, .25s, ease-in-out);
	@include inline-block;
	outline: none;
	position: relative;
	&:hover,
    &:active{
		background-color: darken($button-color, 6%);
	} // hover
} // button

@mixin font-face($style-name, $file, $family, $category:"") {
	$filepath: "../../fonts/" + $file;
	@font-face {
		font-family: "#{$style-name}";
		src: url($filepath + ".eot");
		src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
	}
	%#{$style-name} {
		font: {
			@if $category != "" {
				family: "#{$style-name}", #{$category};
			}
			@else {
				family: "#{$style-name}";
				weight: normal;
			}
		}
	}
} // font-face

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin linear-gradient($fromColor, $toColor) {
	background-color: $toColor; /* Fallback Color */
	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
	background-image:         linear-gradient(top, $fromColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

// ------------------------------------------------------------
// Omega Reset Mixin
// ------------------------------------------------------------
@mixin omega-reset($nth, $context: null) {
	@if $context == null {
		&:nth-child(#{$nth}) { margin-right: flex-gutter(); }
	}
	@else {
		&:nth-child(#{$nth}) { margin-right: flex-gutter($context); }
	}
	&:nth-child(#{$nth}+1) { clear: none; }
}

@mixin icomoon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// line for mobile-menu navicon | http://sarasoueidan.com/blog/navicon-transformicons/
@mixin line($color) {
	display: inline-block;
	width: $button-size;
	height: $button-size/7;
	background: $color;
	border-radius: 0;
	transition: $transition;
} // line