/*//////////////////////////////////////////////////////////////////////////////
//  Variables
//////////////////////////////////////////////////////////////////////////////*/

// Colors
$base-color: #808080; /* Grey */
$brand-color: #5e907d; /* Kinly Teal original */
$brand-color-other: #5d8f7c; /* Kinly Teal */
$highlight-color: #7dd3b4; /* Kinly Cyan */

$heading-color: #36362c; /* Dark grey */
$article-heading-color: #52524a; /* Dark grey */
$date-color: #aaaaaa; /* Light grey */
$selection-color: #bde8d8; /* Cyan */

$bg-grey1: #fafafa; /* Light Grey */
$bg-grey2: #f1f1f1; /* Light Grey */
$bg-grey3: #f6f6f6; /* Light Grey */
$bg-grey4: #f2f2f2; /* Light Grey */

$keyline-generic: #ddd;
$keyline-contact: #e1e1e1;

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,700italic);

// Fonts
$font-stack_default: 'Arial', sans-serif;
$font-stack_brand: 'Open Sans', sans-serif;

// Breakpoints
$breakpoint-largest: 1275px;
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-smallish: 600px;
$breakpoint-small: 480px;
$breakpoint-tiny: 375px;

// mobile-menu navicon | http://sarasoueidan.com/blog/navicon-transformicons/
$button-size: 30px;
$transition: .5s; // increase this to see the transformations in slow-motion

