















/**umb_name:h1 header*/
h1{font-size: 36px;
font-weight: 700;
margin: 0 0 20px;
text-transform: uppercase;
line-height: 1.2;}

/**umb_name:h3 heading*/
h3{font-size: 20px;
margin: 20px 0;
color: #000000;
font-family: "Montserrat",sans-serif;
font-weight: normal;
line-height: 1.2;}

/**umb_name:h4 heading*/
h4{font-size: 15px;
margin: 20px 0 10px;
color: #000000;
font-family: "Montserrat",sans-serif;
font-weight: normal;
line-height: 1.2;}