@using Kowhiri.Web.Extensions
@model object

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var content = (ViewBag.Content as IPublishedContent);
}

<ul>
    <li class="btn-pricing">
        <a href="/#pricing">Pricing</a>
    </li>
    @foreach (var page in umbracoHelper.GetContentFromIds(content.GetPropertyValue("links")))
    {
        <li>
            <a href="@page.Url">@page.Name</a>
        </li>
    }
</ul>
