﻿@using Kowhiri.Web.Constants
@using Kowhiri.Web.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = "Partials/_Layout.cshtml";
    ViewBag.ClassName = "blog-landing-page";
}

<!-- banner.std -->
<div class="banner std">
    <div class="banner-content">
        <div class="caption">
            <h1>@Model.Content.Name</h1>
        </div>
    </div>
    <div class="banner-img">
        @Model.Content.GetImage("bannerImage")
    </div>
</div>

@{
    var blogUrl = Umbraco.NiceUrl(1110);
    blogUrl = blogUrl.Substring(0, blogUrl.Length - 1);

    var featuredArticles = Umbraco.GetContentFromIds(Model.Content.GetPropertyValue("featuredArticles"));

    var selectedPage = 1;
    Int32.TryParse(Request["page"] ?? "1", out selectedPage);

    var blogPageSize = Model.Content.GetPropertyValue<int>("pageSize");
    var blogArticles = Umbraco.TypedContentAtXPath("//blogArticle").OrderByDescending(x => x.CreateDate);

    var totalPages = (blogArticles.Count() + blogPageSize - 1) / blogPageSize;

    if (selectedPage > totalPages || selectedPage < 1)
    {
        selectedPage = 1;
    }

    var blogArticlesToShow = blogArticles
        .Skip(blogPageSize * (selectedPage - 1))
        .Take(blogPageSize);
}

<div class="page-content blog-landing">
    <div class="column-wrapper">
        <div class="column-3of4 blog-articles">
            <h3>Recent articles</h3>
            @foreach (var article in blogArticlesToShow)
            {
                var image = article.GetImage("mainImage");
                    <div class="article-single">
                        
                            <a class="hover" href="@article.Url"></a>
                            <div class="article-header">
                                @if (image != MvcHtmlString.Empty)
                                {
                                @image
                                }
                                else
                                {
                                    <img src="~/images/blog-placeholder-generic.jpg" alt="Kinly blog - image coming soon" />
                                }
                            </div>
                       
                        <div class="article-content">
                            <h3>@article.Name</h3>
                            @Umbraco.Truncate(article.GetPropertyValue<string>("content"), 500, true)
                        </div>
                    </div>
            }

            <!-- Pager -->
            <div class="pager-container">
                @if (totalPages > 1)
                {
                    <ul class="pager">
                        @for (var i = 1; i <= totalPages; i++)
                        {
                            <li class="@(selectedPage == i ? "active" : string.Empty)">
                                <a class="" href="@(i > 1 ? blogUrl + "?page=" + i : blogUrl + "/")">@i</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>

        

        <!-- More articles -->
        @{
            Html.RenderPartial("/Views/Partials/MoreArticles.cshtml", featuredArticles);
        }
    </div>
</div>
