﻿@using Kowhiri.Web.Constants
@using Kowhiri.Web.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = "Partials/_Layout.cshtml";
    ViewBag.ClassName = "blog-single-page";
}

<div class="page-content blog-single">
    <div class="banner std">
        <div class="banner-img">
            @Model.Content.GetImage("mainImage")
        </div>
    </div>
    <div class="column-wrapper">
        <div class="column-3of4">
            <div class="article-container">
                <span class="article-date">@Model.Content.CreateDate.ToString(DateFormats.ShortDate)</span>
                <h2 class="article-title">@Model.Content.Name</h2>
                <div class="article-content">
                    @Model.Content.GetPropertyValue("content")
                </div>
                <a class="btn-back" href="@Umbraco.NiceUrl(1110)">&lsaquo; Back to Articles</a>
            </div>
        </div>
 

            @{

            var featuredArticles = Umbraco.GetContentFromIds(Umbraco.TypedContent(1110).GetPropertyValue("featuredArticles")).Where(x => x.Id != Model.Content.Id);

            Html.RenderPartial("/Views/Partials/MoreArticles.cshtml", featuredArticles);
            }

    </div>
</div>

