﻿@using Kowhiri.Web.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = "Partials/_Layout.cshtml";
    ViewBag.ClassName = "content-page";

    if (Model.Content.HasValue("cSSClassName"))
    {
        ViewBag.ClassName = Model.Content.GetPropertyValue("cSSClassName");
    }

}

<!-- banner.std -->
<div class="banner std">
    <div class="banner-content column-wrapper">
        <div class="caption">
            <h1>@CurrentPage.Name</h1>
        </div>
    </div>
    <div class="banner-img">
        @Model.Content.GetImage("bannerImage")
    </div>
</div>
<!-- page-content -->
<div class="page-content generic">
    <div class="column-wrapper">
        @Model.Content.GetPropertyValue("mainContent")
    </div>
</div>