@using Kowhiri.Web.Extensions
@using Kowhiri.Web.Utilities
@inherits UmbracoTemplatePage
@{
    Layout = "Partials/_Layout.cshtml";
    ViewBag.ClassName = "contact-page";
}

<!-- banner.std -->
<div class="banner std">
    <div class="banner-content">
        <div class="caption">
            <h1>@CurrentPage.Name</h1>
        </div>
    </div>
    <div class="banner-img">
        @Model.Content.GetImage("bannerImage")
    </div>
</div>

<div class="page-content contact">
    <div class="column-wrapper">
        <div class="column-2of3">
            <h3><span class="circle badge icon icon-airplane"></span>Send us a message</h3>
            @Model.Content.GetPropertyValue("mainContent")
            <div class="ajax-replace">
                @*
                    don't put content in the here (the ajax-replace div), it will be removed after form submission
                *@

                @{
                    Html.RenderAction("GetForm", "Contact");
                }
            </div>
        </div>
        <div class="column-1of3 contact-details">
            <!-- Address -->
            <div class="contact-single">
                <div class="contact-label">
                    <h3><span class="circle badge icon icon-map"></span>Address</h3>
                </div>
                <div class="contact-detail">
                    <p>@Model.Content.GetPropertyValue("address")</p>
                </div>
            </div>
            <!-- Phone -->
            <div class="contact-single">
                <div class="contact-label">
                    <h3><span class="circle badge icon icon-phone"></span>Phone</h3>
                </div>
                <div class="contact-detail">
                    <p>@Model.Content.GetPropertyValue("phone")</p>
                </div>
            </div>
            <!-- Email -->
            <div class="contact-single">
                <div class="contact-label">
                    <h3><span class="circle badge icon icon-envelope"></span>Email</h3>
                </div>
                <div class="contact-detail">
                    <p><a href="mailto:@Model.Content.GetPropertyValue("email")">@Model.Content.GetPropertyValue("email")</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    @{
        Bundles.Reference("validation");
    }
    <script>

        var widget;

        var verifyCallback = function () {
            $('#RecaptchaResponse').val(grecaptcha.getResponse(widget));
        }

        var onloadCallback = function() {

            widget = grecaptcha.render('Recaptcha',
            {
                'sitekey': '@(AppSettings.Get<string>("reCAPTCHA_SiteKey"))',
                'callback': verifyCallback
            });
        }

    </script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
}
