@inherits UmbracoTemplatePage
@{
    Layout = "Partials/_Layout.cshtml";
    ViewBag.ClassName = "error-page";
}

<!-- banner.std -->
<div class="banner std">
    <div class="banner-content column-wrapper">
        <div class="caption">
            <h1>@CurrentPage.Name</h1>
        </div>
    </div>
    <div class="banner-img">
        <img src="/images/banner-generic.jpg" alt="Kinly makes creating a Will simple, without the need for a lawyer" />
    </div>
</div>
<!-- page-content -->
<div class="page-content error-404">
    <div class="column-wrapper">
        @*@Model.Content.GetPropertyValue("mainContent")*@
        <p>There was an error while processing your request.</p>
        <a class="btn-back" href="/" title="Back to homepage">&lsaquo; Back to Home</a>
    </div>
</div>