@using Kowhiri.Web.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = "Partials/_Layout.cshtml";
    ViewBag.ClassName = "faq-page";
}

<!-- banner.std -->
<div class="banner std">
    <div class="banner-content">
        <div class="caption">
            <h1>@Model.Content.Name</h1>
        </div>
    </div>
    <div class="banner-img">
        @Model.Content.GetImage("bannerImage")
    </div>
</div>

<div class="page-content faq">
    <div class="column-wrapper">
        <div role="tablist" class="accordion faq-list">
            @foreach (var faq in Model.Content.Children())
            {
                <div class="faq-header">
                    <h3>@faq.Name</h3><span class="badge circle icon icon-chevron-down"></span>
                </div>
                <div class="faq-content">
                    @faq.GetPropertyValue("answer")
                </div>
            }
        </div>
    </div>
</div>
