@using Kowhiri.Web.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = "Partials/_Layout.cshtml";
    ViewBag.ClassName = "home-page";
}

    <!-- HERO BANNER -->
    <div class="banner hero">
        <div class="banner-content column-wrapper">
            <div class="caption">
                <h1>@Html.Raw(Model.Content.GetPropertyValue("title"))</h1>
            </div>
            <img class="accessory" src="/images/phone.png" alt="Kinly app on an iPhone" />
        </div>
        <div class="banner-img">
            @Model.Content.GetImage("bannerImage")
        </div>
    </div>

    <!-- app download buttons -->
    <div class="section-container hero-app-download">
        <div class="column-wrapper">
            @{
                Html.RenderPartial("/views/partials/downloadlinks.cshtml");
            }
        </div>
    </div>

    <!-- INTRO PARAGRAPH -->
    <div class="section-container intro">
        <div class="column-wrapper">
            <div class="column-4of4">
                @Model.Content.GetPropertyValue("mainContent")
            </div>
        </div>
    </div>

    <!-- TAKE CARE OF YOUR WILL NOW -->
    @{
        var reasons = Umbraco.TypedContent(1095);

        if (reasons != null)
        {
            <div class="section-container product-outlines">
                <div class="column-wrapper">
                    <h2>@reasons.Name</h2>

                    @foreach (var reason in reasons.Children())
                    {
                        <div class="outline-single reason">
                            <div class="column-3of4 text">
                                <h3>@reason.Name</h3>
                                @reason.GetPropertyValue("content")
                            </div>
                            <div class="column-1of4 imagery">
                                <div class="badge circle">
                                    <span class="icon @reason.GetPropertyValue("cSSClassName")"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="section-container supporting-imagery">
            @Model.Content.GetImage("secondaryBanner")
        </div>
            <!-- OTHER FEATURES -->
            var features = Umbraco.TypedContent(1094);

            if (features != null)
            {
            <div class="section-container other-features">
                <div class="column-wrapper">
                    <h2>@features.Name</h2>

                    @foreach (var feature in features.Children())
                    {
                        <div class="column-1of3 feature-single">
                            <div class="imagery">
                                <div class="badge circle">
                                    <span class="icon @feature.GetPropertyValue("cSSClassName")"></span>
                                </div>
                            </div>
                            <div class="text">
                                <h3>@feature.Name</h3>
                                @feature.GetPropertyValue("content")
                            </div>
                        </div>
                    }
                </div>
            </div>
            }

            <!-- PRICING -->
            <div id="pricing" class="section-container pricing-outlines">
                <div class="column-wrapper">
                    <h2>Pricing</h2>
                    @Model.Content.GetPropertyValue("pricingIntro")
                    @Model.Content.GetPropertyValue("pricing")
                </div>
            </div>
            }
