﻿@inherits UmbracoTemplatePage
@{
    Layout = null;

    var pageTitle = "Kowhiri - " + Model.Content.Name;
    var seoTitle = Model.Content.GetPropertyValue<string>("seoTitle");
    if (!string.IsNullOrEmpty(seoTitle))
    {
        pageTitle = seoTitle;
    }
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@pageTitle</title>
    <meta name="description" content="@Model.Content.GetPropertyValue("seoDescription")">
    <meta name="keywords" content="@Model.Content.GetPropertyValue("seoKeywords")">
    <meta name="author" content="Kowhiri" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />

    <meta property="og:site_name" content="Kowhiri" />
    <meta property="og:title" content="@pageTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:description" content="@Model.Content.GetPropertyValue("seoDescription")" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:src" content="">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    @*<link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#8b2f8f">*@
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @{
        Bundles.Reference("Scripts");
        Bundles.Reference("js");
        Bundles.Reference("Scripts/modernizr-2.8.3.js");
        Bundles.Reference("Stylesheets/css/main.css");
    }

    @Bundles.RenderScripts("head")
    @Bundles.RenderStylesheets()

    
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

@Html.Partial("Header", null)

<div class="main-content @ViewBag.ClassName">
    @RenderBody()
</div>

@Html.Partial("Footer", null)
@Bundles.RenderScripts()
@RenderSection("scripts", false)

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-573be763cda1b031"></script>
</body>
</html>

