<!-- FOOTER -->
<footer>
    <div class="footer-container section-download">
        <div class="footer-content column-wrapper">
            <h2>Get life sorted</h2>
            @{
                Html.RenderPartial("/views/partials/downloadlinks.cshtml");
            }
            <p class="legal-credit">Powered by Greatwill</p>
        </div>
    </div>
    <div class="footer-container section-links">
        <div class="footer-content column-wrapper">
            @{
                Html.RenderAction("Index", "Content", new { id = 1089, viewName = "FooterLinks", model = new object() });
            }
            @{
                // Edit in CMS > Managed Content > Shared Content > Footer
                // view name and model are option params
                var copyright = Html.Action("Index", "Content", new { id = 1080, viewName = "Index", model = new object() });
            }
        </div>
    </div>
    <div class="footer-container section-legal">
        <div class="footer-content column-wrapper">
            <div class="column-1of2 legal-copyright">
                @Html.Raw(copyright.ToString().Replace("##YEAR##", DateTime.UtcNow.Year.ToString()))
                <!-- Managed Content > Shared Content > Footer -->
            </div>
            <ul class="column-1of2 legal-terms">
                <li><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="/terms-of-use" title="Terms of Use">Terms of Use</a></li>
            </ul>
        </div>
    </div>
</footer>