@using Umbraco.Core.Models.PublishedContent
@inherits UmbracoTemplatePage
<!-- HEADER -->

<header>
    <div class="header-container column-wrapper">
        <a class="logo" href="/">
            <img src="/images/logo-kinly.png" alt="Kinly Logo" />
        </a>

        <nav>
            @{
                var showAll = false;
                var rootElement = Umbraco.ContentAtRoot().First();
                var contentTypes = new List<string> {"content", "contact", "fAQ", "blogContainer" };
                var allowAbleMenuItemTypes = contentTypes.Select(type => PublishedContentType.Get(PublishedItemType.Content, type)).ToList();
            }

            <ul class="main-nav">
                <li class="btn-pricing">
                    <a href="/#pricing">Pricing</a>
                </li>
                @foreach (var level1 in rootElement.Children().Where("visible"))
                {
                    if (showAll || allowAbleMenuItemTypes.Any(x => x == level1.ContentType))
                    {
                        <li class="@level1.ContentType.Alias @(level1.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                            <a href="@(level1.Url == "#" ? "javascript:void(0)" : level1.Url)">@level1.Name</a>

                            @{
                                var level1Children = level1.Children();
                                if (level1Children.Where("visible").Any())
                                {
                                    <ul>
                                        @foreach (var level2 in level1Children.Where("visible"))
                                        {
                                            if (showAll || allowAbleMenuItemTypes.Any(x => x == level2.ContentType))
                                            {
                                                <li class="@(level2.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                                                    <a href="@level2.Url">@level2.Name</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                            }
                        </li>
                    }
                }
            </ul>
        </nav>
        
        <div class="mobile-menu">
            <a href="#" id="responsive-nav-toggle" class="mobilemainmenu lines-link x"><span class="lines"></span></a>
        </div>

    </div><!-- .header-container -->
</header>

