@using Kowhiri.Web.Extensions
@model IEnumerable<IPublishedContent>

@if (Model.Any())
{
    <aside class="more-articles-container">

        <h3>More articles</h3>

        <div class="more-articles">
            @foreach (var article in Model)
            {
                var image = article.GetImage("teaserImage");
                <div class="more-article-single">
                    <a class="hover" href="@article.Url"></a>
                    @if (image != MvcHtmlString.Empty)
                    {
                        <div class="thumb">
                            @image
                        </div>
                    }
                    else {
                        <div class="thumb">
                            <img src="~/images/thumb-placeholder-generic.jpg" alt="Kinly blog - image coming soon" />
                        </div>
                    }
                    <p class="caption">
                        @article.Name
                    </p>
                </div>
            }
        </div>
        <ul class="share-article addthis_toolbox addthis_default_style">
            <li>Share</li>
            <li><a class="addthis_button_facebook" href="#" title="Share this article on Facebook"><span class="icon icon-facebook circle"></span></a></li>
            <li><a class="addthis_button_twitter" href="#" title="Share this article on Twitter"><span class="icon icon-twitter circle"></span></a></li>
            <li><a class="addthis_button_google" href="#" title="Share this article Google Plus"><span class="icon icon-google-plus circle"></span></a></li>
        </ul>

    </aside>
}

