/*//////////////////////////////////////////////////////////////////////////////
//  Styles
//////////////////////////////////////////////////////////////////////////////*/

/*
TABLE OF CONTENTS

01 - Reset
02 - Global
03 - General Layout
04 - Header
05 - Content
06 - Slideshow
07 - Sidebar
08 - Widgets
09 - Comments
10 - Pagination
11 - Footer
12 - Media Queries
*/


/*//////////////////////////////////////////////////////////////////////////////
//  01 - Reset
//////////////////////////////////////////////////////////////////////////////*/
// See scss/_normalize.scss


/*//////////////////////////////////////////////////////////////////////////////
//  02 - Global
//////////////////////////////////////////////////////////////////////////////*/

* {
	@include box-sizing(border-box);
}

html, body, input, select, textarea {
	color: $base-color;
}

body {
	font: 1em/1.6 $font-stack_brand;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
}

::-moz-selection {
	background: $selection-color;
	text-shadow: none;
}

::selection {
	background: $selection-color;
	text-shadow: none;
}

h1, h2, h3, h4, h5 {
	font-family: $font-stack_brand;
	font-weight: normal;
	margin: 0 0 15px 0;
	line-height: 1.2;
}

h1 {
	//font-size: 36px;
    font-size: 45px; // 45/63
    line-height: 1.4;
    font-weight: 300;
	margin: 0 0 20px 0;
} // h1

h2 {
	//font-size: 22px;
    font-size: 37px;
    line-height: 1.343;
	font-weight: 300;
} // h2

h3 {
	font-size: 20px;
    line-height: 1.85; //20/37
	//margin: 20px 0 20px 0;
    margin: 0px 0 12px 0;
    font-weight: 600;
} // h3

h4 {
	font-size: 15px;
	margin: 20px 0 10px 0;
} // h4

p {
	font-size: 15px;
	margin: 0 0 24px 0;
	line-height: 1.8;
    /*& + ul,
    & + ol{
        margin-top: -20px;
    }*/
} // p

ul, ol{
    margin-top: 0;
    @include media($tiny){
        padding-left: 20px;
    }
}// ul, ol

li {
    font-size: 15px;
	line-height: 1.8;
    margin-bottom: 0;
}// li

a {
    color: $highlight-color;
    text-decoration: none;
	outline: none;
    @include transition(all, 0.25s, ease);
	&:hover {
		color: darken($brand-color, 5%);
	} // hover
	img {
		border: none;
	} // img
} // a

img {
	margin: 0;
	max-width: 100%;
	height: auto;
	&.left {
		float: left;
		margin: 0 10px 10px 0;
	} // left
	&.right {
		float: right;
		margin: 0 0 10px 10px;
	} // left
} // img

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $base-color;
	margin: 1em 0;
	padding: 0;
} // hr

blockquote{
    width: 80.88%; // 550/680
	margin: 70px auto 95px auto;
	padding: 14px 0px 0px 47px;
    font-size: 20px; // 20/30
    line-height: 1.5;
    font-weight: 300;
    color: $date-color;
    background: url(../../images/bg-quote.png) no-repeat left top;
    @include media($smallish){
        width: 98%; //artibary
        margin: 35px auto 47px auto;
        padding: 14px 0px 0px 37px;
    }// $smallish
} // blockquote

address{

}// address

code {
	font-family: "Courier New", Courier, serif;
	overflow: auto;
	padding: 2px;
	background: #fff;
} // code

pre code {
	background: none;
} // pre code

pre {
	margin: 0 0 20px;
	padding: 10px;
	background: #fff;
	overflow: auto;
	border: 1px solid #e4e4e4;
} // pre

i, em {
	font-style: italic;
} // i, em

.browsehappy {
	width:100%;
	padding: 10px 0;
	text-align: center;
	margin:0;
}


/*//////////////////////////////////////////////////////////////////////////////
//  03 - General Layout
//////////////////////////////////////////////////////////////////////////////*/

.container {
	@include clearfix;
}

header {
	background-color: #fff;
    @include clearfix;
    @extend .shadow-type1;

    .header-container{
        @include media($large) {
            padding: 0 20px;
        }// $large
        @include media($tiny) {
            padding: 0 10px;
        }// $tiny
        &.column-wrapper{
            max-width: 1024px;
        }// .column-wrapper
    }// .header-container
    
    nav{
        width: 50%;
        float: right;
        @include media($large) {
            width: 100%;
		    display: none;
            float: none;
        } // $large
    }// nav

	.logo {
		display: block;
		max-width: 160px;
		height: auto;
        float: left;
        img{
            display: block;
            width: 100%;
        }
	}// .logo
}// header

.button,
button,
input[type="button"],
input[type="submit"] {
	@include button($brand-color);
	-webkit-appearance: none;
    color: #fff;
    font-family: $font-stack_brand;
	font-size: 14px; // 14/18
    line-height: 1.285;
	text-align: center;
    padding: 12px 20px;
	font-weight: 400;
    &:active,
    &:hover{
        color: #fff;
    }
}

.article-date{
    color: $date-color;
    font-style: italic;
}// .article-date

/*//////////////////////////////////////////////////////////////////////////////
//  04 - Header
//////////////////////////////////////////////////////////////////////////////*/
	
ul.main-nav {
    text-align: right;
    @include clear-list;
    padding: 35px 0 30px 0;
    @include media($large) {
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 10;
        background: #fff;
        border-top: 1px solid $brand-color;
        padding: 0;
    }// $large
	li {
        display: inline-block;
		font-size: 16px;
        padding: 0 12px;
		font-family: $font-stack_brand;
        @include media($large) {
            width: 100%;
            display: block;
            padding: 25px 0;
            text-align: center;
            border-bottom: 1px solid $keyline-generic;
            background: rgba(255, 255, 255, 0.9);
        }// $large
        a{
            color: $heading-color;
            position: relative;
            &:hover{
                color: $brand-color;
            }
        }
		&.active {
			a {
                color: $brand-color;
				font-weight: 700;
				&:after {					
                    display: block;
                    position: absolute;
                    left: 0;
                    top: -38px;
                    content: "";
					background-color: $brand-color;
                    height: 2px;
                    width: 100%;
				    @include media($large) {
                        display: none;
                    }// $large
                }
			}
		}
	}
}//main-nav

ul.secondary-links {
	margin-bottom: 70px;
	@include media($large) {
		margin-bottom: 20px;
	} // large
	li {
		font-size: 13px;
		border-bottom: 1px solid #000000;
		&:first-child {
			border-top: 1px solid #000000;
		}
	}
	a {
		display: block;
		color: #000000;
		padding: 20px;
		line-height: 1;
		&:hover {
			color: #6a356c;
		}
	}
} //secondary-links

ul.social-media {
	li {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
	a {
		font-size: 26px;
		@include media($large) {
			font-size: 36px;
		} // large
		&:hover {

		}
	}
}

.page-content{
    &.generic{
        @include media($medium){
            padding: 0 30px;
        }
        @include media($tiny){
            padding: 0 20px;
        }
        .column-wrapper{
            max-width: 620px;
            padding: 70px 0 110px 0;
            @include media($medium){
                padding: 40px 0 50px 0;
            }
        }// .column-wrapper
    }// .generic-content
    &.contact{
        background-color: $bg-grey1;
        .column-wrapper{
            max-width: 1024px;
            padding: 60px 0 160px 0;
            @include media($medium){
                padding: 40px 0 50px 0;
            }// $medium
        }// .column-wrapper
    }// .contact
    &.faq{
        background: $bg-grey4;
        .column-wrapper{
            max-width: 620px;
            padding: 50px 0 100px 0;
        }// .column-wrapper
    }// .faq
    &.blog-landing{
        background: $bg-grey1;
        padding: 55px 0 100px 0;
        .column-wrapper{
            max-width: 1024px;
        }
    }// .blog-landing
    &.blog-single{
        background: $bg-grey1;
        padding: 0px 0 100px 0;
        .column-wrapper{
            max-width: 1024px;
        }
    }// .blog-single
    &.error-404{
        padding: 50px 0;
        .column-wrapper{
            max-width: 620px;
        }// .column-wrapper
    }// .error-404
}// .page-content

.mobile-menu {
	display: none;
	@include media($large) {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 999;
	} // large
	@include media($smallish) {
		//top: 10px;
	} // smallish
    @include media($tiny) {
        top: 15px;
        right: 10px;
    }// $tiny
} // .mobile-menu

// Mobile Main Menu - transforming navicon
// http://sarasoueidan.com/blog/navicon-transformicons/
.lines-link {
	display: inline-block;
	padding: $button-size/2 0 $button-size/2 $button-size/4;
	opacity: 0.8;
	transition: .3s;
	cursor: pointer;
	user-select: none;
	outline: none !important;
	.lines {
		//create middle line
		@include line($brand-color);
		position: relative;
		margin-left: 8px;
		margin-top: -2px;
		vertical-align: middle;
		//create the upper and lower lines as pseudo-elements of the middle line
		&:before, &:after {
			@include line($brand-color);
			position: absolute;
			left: 0;
			content: '';
			transform-origin: $button-size/14 center;
		} // before, after
		&:before {top: $button-size/4;}
		&:after {top: -$button-size/4;}
	} // lines
	&:hover {
		opacity: 1;
		.lines {
			//background: $brand-color;
			&:before { top: $button-size/4; }
			&:after { top: -$button-size/4; }
			&:before, &:after{
				//background: $brand-color;
			} // before, after
		} // lines
	} // hover
	&:active {
		transition: 0;
		background: rgba(0,0,0,.1);
	} // active
	&.x {
		&.close {
			.lines{
				//hide the middle line
				background: transparent;
				//overlay the lines by setting both their top values to 0
				&:before, &:after{
					transform-origin: 50% 50%;
					top: 0;
					width: $button-size;
				} // before, after
				//rotate the lines to form the x shape
				&:before{
					transform: rotate3d(0,0,1,45deg);
               -webkit-transform:rotate3d(0,0,1,45deg);
				} // before
				&:after{
					transform: rotate3d(0,0,1,-45deg);
               -webkit-transform:rotate3d(0,0,1,-45deg);
				} // after
			} // lines
		} // close
	} // x
} // lines-link

.banner{
    position: relative;
    .banner-img{
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 1;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: none;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }// img
    }// .banner-img
    .banner-content{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        .caption{
            color: #fff; 
            width: 100%;
            h1{
                margin-bottom: 0;
            }
        }
    }// .banner-content
    &.hero{
        .banner-img{
            padding-bottom: 37.5%; // 1600 * 600
            @include media($medium){
                padding-bottom: 500px;
            }// $medium
            @include media($smallish){
                padding-bottom: 444px;
            }// $smallish
            @include media($small){
                padding-bottom: 411px;
            }// $small
            img{
                @include media($medium){
                    width: auto;
                    height: 100%;
                }// $medium
            }// img
        }// .banner-img
        .banner-content{
            @include media($large){
                width: 80%;
            }// $large
            @include media($tiny){
                width: 90%;
            }// $large
        }// .banner-content
    }// .std.banner
    &.std{
        .blog-single-page &{
            max-width: 1024px;
            margin: 0 auto;
            margin-bottom: 55px;
            @include media($small){
                margin-bottom: 30px;
            }// $small
            .banner-img{
                padding-bottom: 39.0625%;
                @include media($small){
                    padding-bottom: 65%;
                }// $small
                @include media($tiny){
                    padding-bottom: 80%;
                }// $tiny
            }// .banner-img
        }// .blog-single-page
        .banner-img{
            padding-bottom: 18.75%; // 1600 * 300
            @include media($large){
                padding-bottom: 30%;
                img{
                    width: auto;
                    height: 100%;
                    max-width: none;
                }
            }// $medium
            @include media($small){
                padding-bottom: 50%;
            }// $small
            @include media($tiny){
                padding-bottom: 60%;
            }// $tiny
        }// .banner-img
        .banner-content{
            .caption{
                text-align: center;
                @include media($tiny){
                    font-size: 38px;
                }// $tiny
            }
        }// .banner-content
    }// .std.banner
}// .banner

.app-download{
    @include clear-list;
    li{
        display: inline-block;
        @include media($smallish){
            display: block;
            margin-bottom: 10px;
            .button{
                width: 90%;
                max-width: 330px;
                text-align: center;
                .icon{
                    position: static;
                    display: inline-block;
                    margin-right: 10px;
                    margin-left: -35px;
                }// .icon
            }// .button
        }// $smallish
        &:last-child{
            margin-bottom: 0;
        }
    }// li
    .button{
        max-width: 182px;
        text-align: left;
        padding-left: 54px;
        position: relative;
        @include media($medium){
            max-width: 171px;
            padding-left: 47px;
        }// $medium
        .icon{
            font-size: 25px;
            position: absolute;
            left: 15px;
            top: 16px;
        }// .icon
    }// .button
}// .app-download

.section-container{
    width: 100%;
    &.intro{
        padding: 120px 0 110px;
        *:last-child{
            margin-bottom: 0;
        }
        @include media($large){
            padding: 80px 0;
        }// $large
        @include media($small){
            padding: 60px 0;
        }// $small
        .column-wrapper{
            max-width: 620px;
        }// .column-wrapper
    }// .intro
    &.hero-app-download{
        padding: 40px 0;
        background: $bg-grey4;
        .column-wrapper{
            text-align: left;
            @include media($large){
                text-align: center;
            }// $large
        }// .column-wrapper
    }// .hero-app-download
    &.product-outlines{
        padding: 100px 0;
        background-color: $bg-grey1;
        @include media($large){
            padding: 80px 0;
        }// $large
        @include media($small){
            padding: 60px 0;
        }// $small
        .column-wrapper{
            max-width: 620px;
        }// .column-wrapper
    }// .outline
    &.supporting-imagery{
        position: relative;
        img{
            width: 100%;
            display: block;
        }// img
    }// .supporting-imagery
    &.other-features{
        padding: 75px 0 60px 0;
        background: $brand-color-other;
        color: #fff;
        text-align: center;
        @include media($small){
            padding: 60px 0;
        }// $small
        .column-wrapper{
            max-width: 1200px;
        }// .column-wrapper
    }// .other-features
     &.pricing-outlines{
         padding: 80px 0 70px 0;
         @include media($small){
            padding: 60px 0;
        }// $small
         .column-wrapper{
            //max-width: 1370px;
            max-width: 820px;
        }// .column-wrapper
     }// .pricing-outlines
}// .section-container

.circle{
    @include border-radius(50%);
}

.icon{
    @include transition(all, 0.25s, ease);
}

.keyline{
    margin: 0;
    padding: 0;
    width: 100%;
}

.shadow-type1{
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.shadow-type2{
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow:    2px 2px 10px 0px rgba(0, 0, 0, 0.14);
    box-shadow:         2px 2px 10px 0px rgba(0, 0, 0, 0.14);
}

.hover-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}// .hover-mask

.center-both{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}// .center-both

.center-x{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}// .center-x

 .center-y{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}// .center-y

.btn-back{
    color: $brand-color;
    font-weight: 600;
    font-size: 16px;
    margin-top: 34px;
    display: inline-block;
}// .btn-back

/*//////////////////////////////////////////////////////////////////////////////
//  05 - Content
//////////////////////////////////////////////////////////////////////////////*/

/* ==========================================================================
   Home
   ========================================================================== */

.hero{
    .banner-img{
       
        img{
          
        }// img
    }// .banner-img
    .banner-content{
        @include media($medium){
            display: block;
            text-align: center;
        }// $medium
        .caption{
            width: 100%;
            max-width: 430px;
            padding-left: 10px;
            @include media($large){
                max-width: 390px;
            }// $large
            @include media($medium){
                max-width: none;
                text-align: center;
                padding-left: 0;
                margin: 40px auto 20px auto;
            }// $medium
            @include media($small){
                margin: 30px auto 15px auto;
            }// $small
            h1{
                @include media($large){
                    font-size: 35px;
                }// $large
                @include media($small){
                    font-size: 30px;
                }// $small
            }// h1
        }// .caption
        .accessory{
            position: absolute;
            right: 0;
            bottom: -140px;
            width: 28%;
            max-width: 270px;
            @include media($largest){
                width: 235px;
            }// $largest
            @include media($large){
                width: 150px;
                bottom: auto;
                top: 50%;
                -webkit-transform: translateY(-45%);
                -ms-transform: translateY(-45%);
                transform: translateY(-45%);
            }// $large
            @include media($medium){
                position: static;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
            }// $medium
            @include media($smallish){
                width: 125px;
            }// $smallish
            @media only screen and (max-width: 318px) {
                display: none;
            }
        }// .accessory 
    }// .banner-content
}// .hero

.home-page{
    .section-container{
        text-align: center;
        h2{
            margin: 0 0 60px 0;
            @include media($small){
                margin: 0 0 40px 0;
            }// $small
        }
    }// .section-header
}// .home-page


.outline-single{
    width: 100%;
    max-width: 620px;
    @include clearfix;
    margin: 0 auto;
    padding-bottom: 75px; //padding for dots
    text-align: left;
    background: url(../../images/bg-outline-dots-desktop.png) no-repeat right bottom;
    @include media($smallish){
        background: url(../../images/bg-outline-dots-mobile.png) repeat-y center bottom;
        padding-bottom: 60px;
    }// $smallish
    &:last-child{
        background-image: none;
        padding-bottom: 0;
        @include media($smallish){
            background: url(../../images/bg-outline-dots-mobile.png) repeat-y center bottom;
        }// $smallish
    }// :last-child
    h3{
        color: $heading-color;
        margin-bottom: 0;
        & + p{
            margin-top: 0;
        }// h3 + p
    }// h3
    *:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .text{
        padding-top: 10px;
         @include media($smallish){
            padding-top: 0;
            background: $bg-grey1;
            text-align: center;
            margin: 0 auto 13px auto !important;
            width: 100%;
            max-width: 350px;
            float: none !important;
         }// $smallish
    }// .text
    .imagery{
        text-align: right;
        @include media($smallish){
            text-align: center;
            padding-top: 60px;
        }// $smallish
        .badge{
            display: inline-block;
            width: 120px;
            height: 120px;
            border: 1px solid $brand-color;
            text-align: center;
            background: $bg-grey1;
            .icon{
                display: inline-block;
                font-size: 50px;
                padding-top: 30px;
                color: $brand-color;
                &.icon-note{
                    padding-top: 36px;
                }// .icon-note
            }// .icon
        }// .badge
    }// .imagery
}// .outline-single

.feature-single{
    text-align: center;
    padding: 0 2%; // 330/380 86.84
    .text{
        @include media($smallish){
        margin: 0 auto 13px auto !important;
        width: 100%;
        max-width: 350px;
        float: none !important;
        }// $smallish
        h3{
            margin-bottom: 10px;
            @include media($small){
                margin-bottom: 0;
            }
        }// h3
    }// .text
    .imagery{
        margin-bottom: 25px;
        @include media($medium) {
            margin-bottom: 10px;
        }
        .badge{
            display: inline-block;
            width: 160px;
            height: 160px;
            border: 4px solid #fff;
            text-align: center;
            @include media($small){
                width: 130px;
                height: 130px;
            }// $small
             .icon{
                display: inline-block;
                &.icon-highlighter{
                    font-size: 65px;
                    padding-top: 43px;
                    @include media($small){
                        font-size: 53px;
                        padding-top: 35px;
                    }// $small
                }// icon-highlighter
                &.icon-lock{
                    font-size: 65px;
                    padding-top: 43px;
                    @include media($small){
                        font-size: 53px;
                        padding-top: 35px;
                    }// $small
                }// icon-lock
                &.icon-play{
                    font-size: 46px;
                    padding: 53px 0 0 7px;
                    @include media($small){
                        font-size: 37px;
                        padding-top: 43px;
                    }// $small
                }// .icon-play
             }
        }// .badge
    }// .imagery
}// .feature-single

.pricing-single{
    @include border-radius(10px);
    text-align: center;
    border: 1px solid $keyline-generic;
    width: 100%;
    max-width: 325px;
    margin: 60px auto 0 auto; // temporary
    @extend .shadow-type2;
    .keyline{
        border-color: $keyline-generic;
    }
    .pricing-header{
        padding: 30px 55px;
        text-transform: uppercase;
        background-color: #fbfbfb;
        @include media($tiny){
            padding: 30px;
        }// $tiny
        *{
            margin: 0;
        }
        .name{
            font-weight: 800;
            color: $heading-color;
            line-height: 1.3;
        }// .name
        .price{
            //font-size: 37px;
            color: $brand-color;
            font-weight: 600;
            line-height: 1.3;
            //client wants more space around the price for it to stand out more
            margin: 10px 0;
            font-size: 45px;
        }// .price
    }// .pricing-header
    .pricing-summary{
        padding: 30px 55px;
        @include media($tiny){
            padding: 30px;
        }// $tiny
        *{
            margin: 0 0 10px 0;
        }
    }// .pricing-summary
}

/* ==========================================================================
   About
   ========================================================================== */

.generic{
    img{
        display: block;
        margin: 0 auto;
    }
}// .generic

/* ==========================================================================
   Blog
   ========================================================================== */
.blog-landing{
    color: $heading-color;
}// .blog-landing

.pager-container{
    width: 100%;
    text-align: right;
    .pager{
        @include clear-list;
        li{
            display: inline-block;
            margin-right: 5px;
            border: 1px solid $brand-color;
            &:hover,
            &.active{
                a{
                    color: #fff;
                    background-color: $brand-color;
                }
            }// :hover, .active
            a{
                display: block;
                font-size: 15px;
                font-weight: 600;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                color: $brand-color;
            }// a
        }// li
    }// .pager
}// .pager-container

.blog-articles{
    h3{
        margin-bottom: 0;
        font-weight: 300;
    }// h3
}// .blog-articles

.blog-single{
    .banner{
        margin-bottom: 55px;
        img{
            display: block;
        }
    }
}

.article-container{
    .article-date{
        display: inline-block;
        margin-bottom: 15px;
        font-size: 13px;
    }// .article-date
    h2{
        &.article-title{
            font-size: 20px;
            color: $article-heading-color;
            font-weight: 600;
        }// .article-title
    }// h2
}// .article-content

.article-single{
    background: #fff;
    margin-bottom: 40px;
    position: relative;
    .hover{
        @extend .hover-mask;
        &:hover{
            & + .article-header{
                opacity: 0.7;
                @include transition(all, 0.3s, ease);
                img{
                    -webkit-transform: translate(-50%, -50%) scale(1.1);
                    -ms-transform: translate(-50%, -50%) scale(1.1);
                    transform: translate(-50%, -50%) scale(1.1);
                    @include transition(all, 0.5s, ease);
                }
            }// & + .article-header
            & + .article-header + .article-content{
                opacity: 0.7;
                @include transition(all, 0.3s, ease);
            }// & + .article-header + .article-content
        }// :hover
    }// .hover
    .article-header{
        position: relative;
        width: 100%;
        padding-bottom: 38.3%;
        overflow: hidden;
        @include transition(all, 0.3s, ease);
        img{
            display: block;
            width: 100%;
            @extend .center-both;
            @include transition(all, 0.3s, ease);
        }
    }// .article-header
    .article-content{
        padding: 20px 30px 30px 30px;
        @include transition(all, 0.3s, ease);
        h3{
            line-height: 1.4;
        }// h3
        *:last-child{
            margin-bottom: 0;
        }
    }// .article-content
}// .article-single

.more-articles-container{
    .blog-single & {
        margin-top: 30px;
    }// .blog-single &
    & > h3{
        margin-bottom: 0;
        font-weight: 300;
    }// h3
    .more-articles{
        margin-bottom: 50px;
        @include media($medium){
            margin-bottom: 20px;
            margin-top: 10px;
        }// $medium
    }// .more-articles
}// .more-articles-container

.more-article-single{
    @include clearfix;
    padding: 14px 0;
    border-bottom: 1px solid $keyline-contact;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .hover{
       @extend .hover-mask;
       &:hover{
            & + .thumb,
            & + .thumb + .caption{
                opacity: 0.7;
                @include transition(all, 0.3s, ease);
            }
       }// :hover
    }// .hover
    .thumb{
        width: 80px;
        height: 80px;
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 20px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 2;
        -ms-flex: 1 2;
        flex: 1 2;
        @include transition(all, 0.3s, ease);
        img{
            @extend .center-both;
            width: 200%;
            max-width: none; 
        }
    }// .thumb
    .caption{
        margin-bottom: 0;
        line-height: 1.3;
        -webkit-box-flex: 2;
        -webkit-flex: 2 1;
        -ms-flex: 2 1;
        flex: 2 1;
        @include transition(all, 0.3s, ease);
    }// .caption
}// .more-article-single

.share-article{
    @include clear-list;
    li{
        display: inline-block;
        margin-right: 11px;
        overflow: hidden;
        line-height: 32px;
        &:first-child{
            @include media($large){
                width: 100%;
            }// $large
            @include media($medium){
                width: auto;
            }// $medium
        }// :first-child
        &:last-child{
            margin-right: 0;
        }// :last-child
        a{
            color: #fff;
            &:hover{
                span{
                    opacity: 0.6;
                }// span
            }// :hover
            .icon{
                width: 32px;
                height: 32px;
                display: block;
                text-align: center;
                line-height: 32px;
                background-color: $brand-color;
                &.icon-google-plus{
                    font-size: 22px;
                }
            }// .icon
        }// a
    }// li
}// .share-article

/* ==========================================================================
   Contact
   ========================================================================== */

.contact{
    color: $heading-color;
    h3{
        font-weight: 300;
        .badge{
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: $highlight-color;
            vertical-align: middle;
            margin-right: 13px;
            color: #fff;
            text-align: center;
            line-height: 40px;
        }// .badge
    }// h3
}// .contact

.contact-single{
    padding: 30px 0 25px 50px;
    border-bottom: 1px solid $keyline-contact;
    &:first-child{
        padding-top: 0;
        @include media($medium){
            padding-top: 30px;
        }
    }// :first-child
    &:last-child{
        @include media($medium){
            border-bottom: none;
        }
    }// :last-child
    h3{
        margin: 0 0 0 -50px;
    }// h3
    p{
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.3;
    }// p
}// .contact-single

.g-recaptcha{
    margin-bottom: 24px;
    width: 100%;
    max-width: 300px;
}// .g-recaptcha

#rc-imageselect, .g-recaptcha{
    -webkit-transform: scale(0.8); // 256/320
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}// #rc-imageselect, .g-recaptcha

/* ==========================================================================
   FAQs
   ========================================================================== */

.faq-list{
    border-top: 1px solid $keyline-contact;
    .ui-state-focus { outline: none; }
    .faq-header{
        position: relative;
        padding: 25px 0;
        border-bottom: 1px solid $keyline-contact;
        cursor: pointer;
        &:last-child{
            border-bottom: none;
        }// :last-child
        &.ui-state-active{
            border-bottom: none;
            padding-bottom: 0;
            .badge{
                -webkit-transform: translateY(-50%) rotate(180deg);
                -ms-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg);
                @include transition(all, 0.3s, ease);
            }// .badge
        }// .ui-state-active
        .badge{
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            display: block;
            width: 30px;
            height: 30px;
            color: $brand-color;
            text-align: center;
            line-height: 30px;
        }// .badge
        h3{
            color: $brand-color;
            font-weight: 600;
            font-size: 20px;
            margin: 0;
            padding-right: 50px;
            @include media($smallish){
                line-height: 1.3;
            }// $smallish
        }// h3
    }// .faq-header
    .faq-content{
        border-bottom: 1px solid $keyline-contact;
        &:last-child{
            border-bottom: none;
        }// :last-child
        *:last-child{
            margin-bottom: 55px;
        }
    }// .faq-content
}// .faq-list


/* ==========================================================================
   Bourbon Neat Columns
   ========================================================================== */

.column-wrapper {
	@include fill-parent;
	@include outer-container;
	aside {
		@include span-columns(3 of 12);
		@include media($smallish) {
			@include span-columns(12 of 12);
			@include omega;
		} // smallish
	} // aside
	.content-container {
		@include span-columns(9 of 12);
		@include media($smallish) {
			@include span-columns(12 of 12);
			@include omega;
		} // smallish
	} // content-container
	.column-1of4 {
		@include span-columns(3 of 12);
		@include omega(4n);
		@include media($medium) {
			@include span-columns(6 of 12);
			@include omega-reset(4n);
			@include omega(2n);
		} // medium
		@include media($smallish) {
			@include span-columns(12 of 12);
			@include omega-reset(4n);
			@include omega-reset(2n);
			@include omega(1n);
		} // smallish
	} // column-1of4
	.column-1of3 {
		@include span-columns(4 of 12);
		@include media($medium) {
			@include span-columns(12 of 12);
		} // medium
	} // column-1of3
	.column-2of3 {
		@include span-columns(8 of 12);
		@include media($smallish) {
			@include span-columns(12 of 12);
			@include omega;
		} // smallish
	} // column-2of3
	.column-1of2, .column-2of4 {
		@include span-columns(6 of 12);
		@include media($smallish) {
			@include span-columns(12 of 12);
			@include omega;
		} // smallish
	} // column-1of2, column-2of4
	.column-3of4 {
		@include span-columns(9 of 12);
		@include media($medium) {
			@include span-columns(12 of 12);
		} // medium
	} // column-3of4
	.column-4of4 {
		@include span-columns(12 of 12);
	} // column-4of4
	.shift-1 {
		@include shift(1);
		@include media($large) {
			@include shift(0);
		} // large
	}// .shift-1
	.shift-2 {
		@include shift(2);
		@include media($large) {
			@include shift(0);
		} // large
	}// .shift-2
	.shift-3 {
		@include shift(3);
		@include media($large) {
			@include shift(0);
		} // large
	}// .shift-3
} // column-wrapper

/* Grid customisation */

.column-wrapper{
    @include media($large){
        width: 90%;
        margin: 0 auto;
    }// $large
    @include media($small){
       width: 80%;
    }// $small
}// .column-wrapper

.other-features{
    .column-wrapper{
        .column-1of3{
            @include media($large) {
                @include span-columns(4 of 12);
            } // $large
	        @include media($medium) {
		        @include span-columns(12 of 12);
            } // $medium
        }// .column-1of3
    }// .column-wrapper
}// .other-features

.product-outlines{
    .column-wrapper{
        .column-1of4 {
			@include media($medium) {
				@include span-columns(3 of 12);
				@include omega(4n);
			}// $medium
			@include media($smallish) {
				@include span-columns(12 of 12);
				@include omega-reset(4n);
				@include omega-reset(2n);
				@include omega(1n);
			}// $smallish
		}// .column-1of4
		.column-3of4 {
			@include media($medium) {
				@include span-columns(9 of 12);
			}// $medium
			@include media($smallish) {
				@include span-columns(12 of 12);
			    @include omega-reset(4n);
				@include omega-reset(2n);
				@include omega(1n);
            }// $smallish
		}// .column-3of4
    }// .column-wrapper
}// .product-outlines

.contact{
	.column-2of3 {
		@include media($medium) {
            @include span-columns(12 of 12);
			@include omega;
		} // smallish
	} // column-2of3
}// .contact

.blog-landing,
.blog-single{
    .column-wrapper{
        aside{
            @include media($medium) {
		        @include span-columns(12 of 12);
		        @include omega;
	        } // $medium
        }// aside
    }// .column-wrapper
}// .blog-landing

/* ==========================================================================
   Contact
   ========================================================================== */

.ajax-replace{
    width: 100%;
}

// These styles won't work unless you spell out the styles for each browser prefix. Grouping it into a @extend .placeholder-styles won't work either
::-webkit-input-placeholder { font-size: 16px; line-height: 1.2; font-weight: 300; color: $date-color; } 
:-moz-placeholder{ font-size: 16px; line-height: 1.2; font-weight: 300; color: $date-color; }
::-moz-placeholder{ font-size: 16px; line-height: 1.2; font-weight: 300; color: $date-color; }
:-ms-input-placeholder{ font-size: 16px; line-height: 1.2; font-weight: 300; color: $date-color; }

form {
    width: 90%;
    max-width: 540px;
    padding-left: 50px;
    @include media($medium){
        width: 100%;
        max-width: none;
        padding-left: 0;
    }// $medium
	p {
		@include clearfix;
		margin-bottom: 20px;
		position: relative;
	}// p
	input[type="text"],
	input[type="email"],
	input[type="number"]{
        height: 50px;
    }// input text, email, number
	input[type="text"],
	input[type="email"],
	input[type="number"],
	textarea {
		font-family: $font-stack_brand;
		color: $base-color;
		padding: 10px;
		width: 100%;
        font-size: 16px;
		border: 1px solid $keyline-contact;
		-webkit-appearance: none;
		&:focus {
			border: 1px solid rgba($brand-color, .5);
			outline: 0;
		}
	}// input text, email, number, textarea
	textarea {
        width: 100%;
        max-width: 540px;
		min-height: 300px;
        @include media($medium){
            max-width: none;
        }// $medium
	}// textarea
	label {
        display: none;
		width: 30%;
		padding: 10px 10px 10px 0;
		line-height: 1;
		font-weight: 700;
		@include media($large) {
			width: 100%;
			float: none;
			//display: block;
			margin-bottom: 8px;
			padding: 0;
		} // $large
	}// label
	input[type="submit"] {
		float: right;
		width: 182px;
        height: 60px;
        font-size: 18px;
        @include media($medium) {
            float: none;
        }// $medium
    }// input submit
	label.error, .field-validation-error {
        display: block;
		float: none;
		width: auto;
		position: relative;
		background-color: $brand-color;
		color: #ffffff;
		font-weight: normal;
		font-size: 12px;
		padding: 5px 10px;
		width: 100%;
        margin-top: 10px;
        text-align: center;
        &:after {
			bottom: 100%;
	        left: 50%;
	        border: solid transparent;
	        content: " ";
	        height: 0;
	        width: 0;
	        position: absolute;
	        pointer-events: none;
	        border-color: rgba(94, 144, 125, 0);
	        border-bottom-color: #5e907d;
	        border-width: 6px;
	        margin-left: -6px;
		}
        
	}// label.error, .field-validation-error
    .recaptcha-wrapper{
        position: relative;
    }
    #Recaptcha ~ .field-validation-error{
        display: inline-block;
        width: auto;
        top: -35px;
    }// #Recaptcha ~ &
}// form



/* ==========================================================================
   Responsive
   ========================================================================== */
.responsive-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
	margin: 30px 0 20px 0;
	iframe, object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	} // iframe, object
} // responsive-container



/*//////////////////////////////////////////////////////////////////////////////
//  06 - Slideshow
//////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////
//  07 - Sidebar
//////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////
//  08 - Widgets
//////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////
//  09 - Comments
//////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////
//  10 - Pagination
//////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////
//  11 - Footer
//////////////////////////////////////////////////////////////////////////////*/

footer {
    width: 100%;
	.footer-container{
        position: relative;
        width: 100%;
        &.section-download{
            //padding-bottom: 23.3125%; // 373/1600
            background: url(../../images/bg-footer.jpg) no-repeat center center;
            background-size: cover;
            min-height: 370px;
            @include media($smallish){
                min-height: 1px;
            }// $smallish
            .footer-content{
                width: 100%;
                max-width: 620px;
                color: #fff;
                text-align: center;
                padding: 60px 0 30px 0;
                @include media($smallish){
                    padding: 40px 0;
                }// $smallish
                .app-download{
                    margin-top: 40px;
                }// .app-download
                .legal-credit{
                    margin: 110px auto 0 auto;
                    opacity: 0.5;
                    font-size: 13px;
                    @include media($smallish){
                        margin-top: 10px;
                    }// $smallish
                }// .legal-credit
            }// .footer-content
        }// .section-download
	    &.section-links{
            ul{
                @include clear-list;
                padding: 34px 0 30px 0;
                text-align: center;
                li{
                    display: inline-block;
                    padding: 0 12px;
                    a{
                        color: $heading-color;
                        opacity: 0.6;
                        &:hover,
                        &:active{
                            opacity: 1;
                        }
                    }// a
                }// li
            }// ul
	    }// .section-links
        &.section-legal{
            background-color: $bg-grey3;
            padding: 20px 0 15px 0;
            *{
                color: $heading-color;
                font-size: 13px;
                //opacity: 0.3;
                opacity: 0.7;
                margin: 0;
            }// *
            .legal-copyright{
                @include media($large){
                    text-align: center;
                    margin-bottom: 5px;
                }// $large
            }// .legal-copyright
            ul{
                @include clear-list;
                
                &.legal-terms{
                    text-align: right;
                    @include media($large){
                        text-align: center;
                    }// $large
                    li{
                        padding-left: 12px;
                    }
                }// .legal-terms
                li{
                    display: inline-block;
                }// li
            }// ul
        }// .section-legal
        .footer-content{
            width: 100%;
            margin: 0 auto;
        }// .footer-content
    }// .footer-container
}// footer

/*//////////////////////////////////////////////////////////////////////////////
//  12 - Media Queries
//////////////////////////////////////////////////////////////////////////////*/

// Let's avoid using these and keep responsive styling adjustments inline (assigned within the affected element)
@media only screen and (max-width: $breakpoint-large) {} // large
@media only screen and (max-width: $breakpoint-medium) {} // medium
@media only screen and (max-width: $breakpoint-smallish) {} // smallish
@media only screen and (max-width: $breakpoint-small) {} // small


.mobile-show {
	display: none !important;
	@include media($smallish) {
		display: block !important;
	} // smallish
} // mobile-show

.mobile-hide {
	@include media($smallish) {
		display: none !important;
	} // smallish
} // mobile-hide

.hide {
	display: none;
} // hide

