@using System.Drawing
@using Kowhiri.Web.Controllers
@using Kowhiri.Web.Helpers
@using Kowhiri.Web.Utilities
@model Kowhiri.Web.Models.ContactViewModel


@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <h2 class="message-sent-title">Message sent!</h2>
    <p>Thanks for sending your message, we will get back to you shortly.</p>
}
else
{
    if (TempData["validationMessage"] != null)
    {
        <p class="error" style="color:red">@TempData["validationMessage"]</p>
    }

    using (Html.BeginUmbracoForm<ContactController>("Index"))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <p>
            @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "Name" })
            @Html.ValidationMessageFor(x => x.FirstName)
        </p>
        <p>
            @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email" })
            @Html.ValidationMessageFor(x => x.Email)
        </p>
        <p>
            @Html.TextBoxFor(x => x.PhoneNumber, new { @placeholder = "Phone" })
            @Html.ValidationMessageFor(x => x.PhoneNumber)
        </p>
        <p>
            @Html.TextAreaFor(x => x.Enquiry, new { @placeholder = "Message" })
            @Html.ValidationMessageFor(x => x.Enquiry)
        </p>

        <div class="recaptcha-wrapper">
            <div id="Recaptcha" class="g-recaptcha" data-sitekey="@(AppSettings.Get<string>("reCAPTCHA_SiteKey"))"></div>
            @Html.HiddenFor(x => x.RecaptchaResponse)
            @Html.ValidationMessageFor(x => x.RecaptchaResponse)
        </div>

        <p>
            <input value="Submit" type="submit">
        </p>
    }
}

